@use "variables";

.header {
  display: flex;
  font-family: variables.$aquilineTwo;
  justify-content: center;
  -webkit-font-smoothing: antialiased; //?
  -moz-osx-font-smoothing: grayscale; //?

  @media (orientation: landscape) and (max-height: 500px) {
    padding-top: 19vh;
    height: 100vh;
  }

  & h1 {
    font-size: 4rem;
  }

  &__initialCapital {
    font-family: var(--font-aquilinetwo), Helvetica, cursive;
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: -0.06em;
    line-height: 0;
    margin-right: 2%;
    position: relative;
    top: 14%;
  }
}
