@use "variables";

.header {
  display: flex;
  font-family: variables.$aquilineTwo;
  justify-content: center;

  //?
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & h1 {
    font-size: 4rem;
    //dispaly: inline-block
    // transform: rotate(-4deg);
  }

  &__initialCapital {
    font-family: var(--font-aquilinetwo), Helvetica, cursive;
  font-size: 7rem;
  position: relative;
  top: 14%;
  margin-right: 2%;
  font-weight: 600;
  line-height: 0;
  letter-spacing: -0.06em;
}
}
