@use "_variables" as *;

@mixin reset-button-styles {
  button,
  input[type="button"],
  input[type="submit"] {
    all: unset; // Reset all inherited and browser styles
    display: inline-block; // Ensures the button behaves as a block-inline element
    cursor: pointer; // Adds a pointer cursor for better UX
    text-align: center; // Centers text inside the button
    background-color: transparent; // No background by default
    border: none; // Removes borders
    padding: 0; // Resets padding
    margin: 0; // Resets margin
    font: inherit; // Inherit font styles from parent
    color: inherit; // Inherit text color
    line-height: inherit; // Ensures consistent line height
    user-select: none; // Prevent text selection
    appearance: none; // Removes platform-specific styling
    -webkit-appearance: none; // Cross-browser compatibility
    -moz-appearance: none; // Cross-browser compatibility
    box-shadow: none; // Removes any default shadow

    &:focus {
      outline: none; // Prevent default focus outline
    }
    &:disabled {
      cursor: not-allowed; // Shows a disabled cursor
      opacity: 0.6; // Gives visual feedback for disabled state
    }
  }
}

@mixin reset-anchorlink-styles {
  a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove underline */

    &[href] {
      color: inherit;
      text-decoration: none;
    }

    &:not([href]) {
      color: inherit;
      text-decoration: none;
      cursor: default; /* Optional: Change the cursor to indicate non-clickable */
      opacity: 0.5;
    }
  }
}

@mixin remove-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    /* Chrome, Safari, and Edge (new) */
    display: none;
  }
}

//Animations
@mixin transition($duration: 0.3s) {
  transition: all $duration ease-in-out;
}

@mixin fade-close-transition($duration) {
  transition:
    transform $duration,
    opacity $duration,
    filter $duration ease-in-out;
  opacity: 0;
  filter: blur(20px);
}

//Media query mixins for landscape mode
@mixin small-landscape {
  @media (orientation: landscape) and (max-width: 700px),
    (orientation: landscape) and (max-height: 700px) {
    @content;
  }
}

@mixin small-landscape-wide {
  @media (orientation: landscape) and (max-height: 700px) {
    @content;
  }
}

@mixin medium-landscape {
  @media (orientation: landscape) and (min-width: 701px),
    (orientation: landscape) and (min-height: 700px) {
    @content;
  }
}

@mixin gridnav-layout-condition {
  @media (orientation: landscape) and (max-height: 700px) {
    @content;
  }
}

//Components
@mixin gridnav {
  .nav {
    // align-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 100vh;
    padding: max(3vh, 2px);
    gap: 0.5vh;
    &__navItem {
      aspect-ratio: 1;
      align-content: center;
      justify-content: center;
    }
    &__navBtn {
      height: 100%;
      width: auto;
    }
  }
}

@mixin nav-btn-padding($paddingY: 2px, $paddingX: 5vw) {
  padding: max($paddingY, 0.5vw) min(16px, $paddingX);
}
