@use "variables" as *;
@use "mixins" as *;

.nav {
  @include remove-scroll-bar;

  // Default layout: flex
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  right: 0;
  overflow-y: auto;

  @include small-landscape {
    align-content: space-evenly;
  }
  @include small-landscape-wide {
    justify-content: space-evenly;
    padding-top: max(10px, 6vh);
    padding-bottom: max(10px, 6vh);
  }

  @include medium-landscape {
    justify-content: space-evenly;
    padding-top: max(10px, 6vh);
    padding-bottom: max(10px, 6vh);
  }
  &__navItem {
    &:not([href]) {
      cursor: auto;
    }
    a {
      text-align: right;
    }
  }

  &__navBtn {
    padding: max(2px, 0.5vw) min(16px, 5vw);

    @include small-landscape-wide {
      padding: 0;
    }

    @include medium-landscape {
      padding: 0;
    }

    &_noLink {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

// Switch to grid layout for specific conditions
@include gridnav-layout-condition {
  @include gridnav;
  .nav {
    &__navBtn {
      padding: max(2px, 0.5vw) min(16px, 2vh);
    }
  }
}

@media (orientation: portrait) and (max-height: 639px) {
  .nav__navBtn {
    padding: 2px 16px;
  }
}
