@use "variables" as variables;

.nav {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  align-items: right;
  // position: fixed;
  right: 0;
  // width: 80px;
  overflow-y: auto;
  height: 100vh;
  // background-color: green;

  &__navItem {
    &:not([href]) {
      cursor: auto;
      // color: variables.$clr-no-link;
      // outline: auto;
    } // text-align: right;
    a {
      text-align: right;
    }
  }

  &__navBtn { //FIX
    padding: max(8px, 2vw) min(16px, 5vw);
    //Mobile
    padding: max(2px, 0.5vw) min(16px, 5vw);

    &_noLink {
      // color: variables.$clr-no-link;
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
