@use "variables" as *;
@use "mixins" as *;

.page {
  background-color: $bg-color2;
  display: grid;
  grid-template-areas: "scrollWrapper navbar";
  grid-template-columns: 1fr auto;
  height: 100vh;
  margin: 0 auto;

  @media (orientation: portrait) {
    max-width: 700px;
  }

  @include medium-landscape {
    max-width: 700px;
  }

  @include small-landscape {
    padding-right: 1vw;
  }

  &__scrollWrapper {
    display: grid;
    grid-area: scrollWrapper;
    grid: auto 1f auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
    -ms-overflow-style: none;
    height: 100vh;
    justify-content: space-around;
    justify-self: stretch;
    overflow-y: auto;
    scrollbar-width: none;

    & ::webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    grid-area: header;
    overflow: visible;
  }

  &__nav {
    grid-area: navbar;
    position: sticky;
    height: 100vh;
    top: 0;
  }

  &__main {
    grid-area: main;
  }

  &__footer {
    grid-area: footer;
    padding: 32px;
    justify-self: stretch;
  }
}

@media (orientation: landscape) and (min-width: 700px) {
  .page__scrollWrapper {
    align-self: center;
  }
}

@media (orientation: portrait) {
  .page {
    max-width: 700px;
  }
}
