@use "variables" as *;

a {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove underline */
  text-align: right;

  &[href] {
    text-decoration: none;
  }

  &:not([href]) {
    // color: $clr-no-link; /* Style for elements without an href attribute */
    text-decoration: none;
    cursor: default; /* Optional: Change the cursor to indicate non-clickable */
  }
}
