@use "_variables" as variables;

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 900;
  background-color: #00000080;

  &--isClosing {
     transition:    transform variables.$transition-duration2,    opacity variables.$transition-duration2,    filter variables.$transition-duration2;
     opacity: 0;
     filter: blur(20px);
     -webkit-filter: blur(20px);
     -webkit-transition:    transform variables.$transition-duration2,    opacity variables.$transition-duration2,    filter variables.$transition-duration2;
     -moz-transition:    transform variables.$transition-duration2,    opacity variables.$transition-duration2,    filter variables.$transition-duration2;
     -ms-transition:    transform variables.$transition-duration2,    opacity variables.$transition-duration2,    filter variables.$transition-duration2;
     -o-transition:    transform variables.$transition-duration2,    opacity variables.$transition-duration2,    filter variables.$transition-duration2;
}

  &__content {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: #64646f4d 0px 7px 29px 0px;
    max-width: 90%;
    width: 400px;
    /*Adjustwidthasneeded*/text-align: center;
    z-index: 901;
 
}

  &__content--isClosing {
      transition:    transform variables.$transition-duration,    opacity variables.$transition-duration,    filter variables.$transition-duration;
      opacity: 0;
      filter: blur(20px);
      -webkit-filter: blur(20px);
}
}
