@use "_variables" as *;
@use "_mixins" as *;

.modal {
  align-items: center;
  background-color: $bg-color-fade;
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 900;

  &--isClosing {
    @include fade-close-transition($transition-duration);
  }

  &__content {
    background-color: $card-clr;
    border-radius: 12px;
    box-shadow: #64646f4d 0px 7px 29px 0px;
    max-width: 90%;
    padding: 20px;
    text-align: center;
    width: 400px;
    z-index: 901;
  }

  &__content--isClosing {
    @include fade-close-transition($transition-duration2);
  }
}
