@use "_variables" as *;
@use "_mixins" as *;

.spellList {
  &__lexicoContainer {
    padding: 48px;

    @include small-landscape {
      display: grid;
      grid-template-columns: auto 1fr;
      padding-top: 60px;
    }
  }
  &__incantationContainer {
    @include transition($transition-duration);

    display: flex;
    flex-direction: column;

    @include small-landscape {
      padding-left: 5vh;

      &_L,
      &_H {
        padding-left: 32px;
      }
    }
  }

  &__incantation {
    @include small-landscape {
      display: inline;
      padding-left: 36px;

      & p {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
  &__initial h3 {
    font-family: $aquilineTwo;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 48px;

    @include small-landscape {
      line-height: 0.6;
    }
  }
}
