@use "_variables" as variables;

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 900;
  background-color: #00000080;

  &__content {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: #64646f4d 0px 7px 29px 0px;
    max-width: 90%;
    width: 400px;
    /*Adjustwidthasneeded*/text-align: center;
    z-index: 901;
    transition: opacity 0.3s ease-in-out;
        &.fade-in {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;

      opacity: 1;
      pointer-events: auto; /* Enable clicks when visible */
    }
  }

  &__content--isClosing{
      transition:
    transform variables.$transition-duration,
    opacity variables.$transition-duration,
    filter variables.$transition-duration;
  -webkit-transition:
    transform variables.$transition-duration,
    opacity variables.$transition-duration,
    filter variables.$transition-duration;
  -moz-transition:
    transform variables.$transition-duration,
    opacity variables.$transition-duration,
    filter variables.$transition-duration;
  -ms-transition:
    transform variables.$transition-duration,
    opacity variables.$transition-duration,
    filter variables.$transition-duration;
  -o-transition:
    transform variables.$transition-duration,
    opacity variables.$transition-duration,
    filter variables.$transition-duration;
  opacity: 0;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  }
}
