
$lumos: 'Lumos', sans-serif;
$magicSchool: 'MagicSchool', sans-serif;
$aquilineTwo: 'AquilineTwo', cursive;

$text_primary: #2e2727;
$text_secondary:#3f2f2f;;

$bg-color: #ffe5db;
$bg-color2: #ffe3da;
$bg-clr-fade:#00000080;


$clr-no-link: #808080;

$clr-star: #fafaae; //default
$star-size: 9px;

$clr_Blue: #0000FF;
$clr_IcyBlue:#739BD0;
$clr_Red: #FF0000;
$clr_Gold: #d4af37;
$clr_Purple: #800080;
$clr_White: #FFFFFF;
$clr_Green: #008000;
$clr_Orange: #FFA500;
$clr_Yellow: #FFFF00;
$clr_BrightBlue: #0096FF;
$clr_Pink: #FFC0CB;
$clr_Violet: #EE82EE;
$clr_Scarlet: #ff2400;
$clr_BlueishWhite: #dbe9f4;
$clr_Silver:#c4c4c4;
$clr_FieryScarlet: #d01c1f;
$clr_Grey: #808080;
$clr_DarkRed: #8B0000;
$clr_Turquoise:#40e0d0;
$clr_Fire: #AA4203;
$clr_BrightYellow: #FFEA00;
$clr_BlackSmoke: #100c08;
$clr_PsychedelicTransparentWave: #a52a2a;
$clr_None: #a52a2a;
$clr_Transparent: #a52a2a;